.page {
    display: flex;
    flex-direction: column;
    background-color: #AEC8A4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #3B3B1A;
}

/* Основная область */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}



/* Верхняя панель */
.top-row {
    background-color: #3B3B1A;
    color: #E7EFC7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid #8A784E;
    width: 100%;
}

/* Заголовок приложения */
.app-title {
    margin: 0;
}

/* Контент */
.content {
    background-color: #E7EFC7;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}


