@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <h2 class="app-title">ToDo List</h2>
        </div>
        <article class="content px-4 fixed">
            @Body
        </article>
    </main>
</div>
