
<nav>
    <div class="navbar">
        <div class="container nav-containter">
            <input class="checkbox" type="checkbox" id="menu-toggle"/>
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>

            <div class="logo">
                <h1>ToDoList</h1>
            </div>

            <ul class="menu-items">
                <li> <NavLink href="/tasks" Match="NavLinkMatch.All">Задачи</NavLink></li>
                <li> <NavLink href="/add-task">Добавить</NavLink></li>
            </ul>

        </div>
    </div>
</nav>

@code {

}
