@page "/task/{TaskId:guid}"
@using ToDoList.Services
<h3>Детали задачи</h3>

@if(task is null)
{
    <p>Задача не найдена</p>
}
else
{
    <div>
        <p><strong>Название: </strong> @task.Title</p>
        <p><strong>Срок: </strong> @task.DueDate.ToShortDateString()</p>
    </div>
    <a href="/tasks">Назад</a>
}

@code {
    [Parameter]
    public Guid TaskId { get; set; }
    [Inject]
    private TaskService TaskService { get; set; }


    private TaskModel? task { get; set; }

    protected override void OnInitialized()
    {
        task = TaskService.AllTasks.FirstOrDefault(t => t.Id == TaskId);
    }
}
