html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.filmList{
    color: mediumpurple;
    text-align: center;
    margin-bottom: 10px;
}

.filmHeadTable{
    color: white;
    background-color: mediumpurple;
}

.filmTable {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.filmTableBody {
    padding: 10px;
    border: 2px solid black;
}

.filterForm{
    margin-bottom: 10px;
}

th, td {
    padding: 15px;
}

.addForm {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10px auto;
    border: 4px dashed mediumpurple;
    padding: 10px;
    gap: 5px;
}

.film-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px 10px;
    margin-bottom: 10px;
}

.seance{
    transition: color 0.3s ease;
    cursor: pointer;
}

.seance:hover {
    color: rosybrown;
}


.film-card-image {
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rosybrown;
}

.film-card-text {
    color: bisque;
    padding: 25px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: dimgray;
    font-family: Bahnschrift;
    font-size: 20px;
    
}

.film-details-header{
    margin: 0 0 15px 0;
    font-family: 'Franklin Gothic';
    padding: 10px;
}

.image-details{
    margin: 0;
    padding: 25px;
    max-width: 100%;
    max-height: 100%;
    
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        ". ."
        ". .";
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1 !important;
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: darkgray;
    border-radius: 50%;
    padding: 10px;
}