@page
@model CinemaTheater.Pages.Index1Model
@{
}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <h1>Привет, copybook</h1>
        <img src="/images/tenet.jpg" alt="Логотип"/>
    </body>
</html>
