<header class="p-3 bg-primary text-white d-flex justify-content-between align-items-center">
    <h2 @onclick="() => NavigationManager.NavigateTo(path2)" style="cursor: pointer">BlazorApp2</h2>
    <div @onclick="() => NavigationManager.NavigateTo(path)" style="cursor: pointer">
        🛒 Корзина (@CartService.GetCartItems().Count)
    </div>
</header>

@code{
    string path = "/cart";
    string path2 = "/";

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}

