@page "/"
@using BlazorApp2.Shared;
@using BlazorApp2.Pages;
@inject CurrencyService CurrencyService

<PageTitle>Index</PageTitle>

<h3 class="m-3">Товары</h3>

<div class="m-3">
    <button class="btn btn-secondary me-2" @onclick="@(() => ChangeCurrency("RUB"))">RUB</button>
    <button class="btn btn-secondary me-2" @onclick="@(() => ChangeCurrency("USD"))">USD</button>
    <button class="btn btn-secondary" @onclick="@(() => ChangeCurrency("EUR"))">EUR</button>
</div>

<ProductSearch OnSearch="OnSearchChanged" />

<div class="d-flex flex-wrap gap-3">
    @foreach (var product in filteredProducts)
    {
        <ProductCard Product="product" class="special-class" />
    }
</div>






@code{
    public string curr = "₽";

    private List<Product> products = new()
    {
            new Product { Id = 1, Name = "Штаны", Description = "Модные крутые", Price = 5000, ImageUrl = "card-images/shani_1.jpeg" },
            new Product { Id = 2, Name = "Штанцы", Description = "Модные крутые", Price = 3599, ImageUrl = "card-images/shani_2.jpg"  },
            new Product { Id = 3, Name = "Штаныs", Description = "Модные крутые", Price = 10599, ImageUrl = "card-images/shani_3.jpg"  },
    };

    private List<Product> filteredProducts = new();

    protected override void OnInitialized()
    {
        filteredProducts = new List<Product>(products);
    }

    private void OnSearchChanged(string searchText)
    {
        if (string.IsNullOrWhiteSpace(searchText))
            filteredProducts = new List<Product>(products);
        else
        {
            filteredProducts = products
                .Where(p => p.Name.Contains(searchText, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
    }

    private void ChangeCurrency(string currency)
    {
        CurrencyService.SetCurrency(currency);
        StateHasChanged();
    }
}
        
