@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в кинотеатр</h1>
    <a asp-page="Film" class="btn btn-primary">Выберите фильмы для просмотра</a>
</div>

<!--Нужно сделать карусель на заглавной странице, чтобы фильмы подгружались из json'а. Прокручивались автоматически (попробовать с подписями)-->
